.banner_font{
	position:absolute;
	left:50%;
	margin-left:-279px;
	z-index:3;
	top:155px;;
	text-align:center;}
.banner_font .banner_font_top{
	display:block;
	font-size:24px;
	color:#FFF;
	letter-spacing:15px;}
.banner_font b{
	font-size:58px;}
.banner_font .b_left{
	color:#FFF;}
.banner_font .b_right{
	color:#99cc00;}

.banner_font div{
	width:100%;
	position:absolute;
	top:70px;}
.banner_font .banner_font_buttom{
	display:block;
	width:184px;
	height:43px;
	background:#003366;
	color:#FFF;
	margin:0 auto;
	line-height:43px;
	font-size:30px;}

.banner ul{
	width: 1920px;
	height: 500px;
	position: absolute;
	left: 50%;
	margin-left: -960px;
}
.banner ul li {
	display: none;
}
.banner span{
	position: absolute;
	bottom: 11px;
	display: block;
	width: 150px;
	left: 50%;
	margin-left:-75px;
}
.banner span a{
	float: left;
	margin-right: 7px;
	z-index: 3;
	display: block;
	width: 18px;
	height: 18px;
	background: url(../images/abou_ck.png);
}
#anniugl{
	background: url(../images/abou_ck_ho.png);
}
.banner span a:hover{ 
	background: url(../images/abou_ck_ho.png);
 }
#showa {
	display: block;
}
#showb {
	display: block;
}
.width{ margin: 0 auto; width:1200px; }
.indexback_1{ background:#f6f6f6; }
.indexback_2{ background:#003366; }
.indexback_3{ background: #dcdddb; padding-bottom: 190px; }	
.aboutus{ height:625px; margin: 0 auto;}
.case{ height:600px; margin: 0 auto;}
.product{ height:787px; margin: 0 auto;}
.news{ height:773px; margin: 0 auto;}
.contact{ position: relative; z-index: 1; height:#dcdddb; height:504px; margin: 0 auto;}
.contact .gd{
	width: 130px;
	height: 40px;
	position: relative;
	bottom: -450px;
	margin: 0px;
	left: 86%; 	
	border: 0;
}

/*---关于我们----*/
.title_a{ background:url(../images/%7Ftitle_a.png) bottom no-repeat; width:501px; height:175px; padding-top:63px;}
.title_b{ font-size:68px; color:#003366; margin-left:1px; padding:0px;font-weight:bold; line-height:55px; letter-spacing:10px;}
.title_b p{ font-size:68px; color:#99cc00; float:right; margin-right:35px; font-weight:bold;}
.title_c{ width:445px; height:33px; line-height:33px; color:#666666; display: block; font-size:34px; padding-left:1px;}
.title_c p{ float:right; width:305px; height:33px; font-size:14px; line-height:20px;letter-spacing:2px; color:#aeaeae;}

.aboutsleft{ width:734px; float:left;}
.title_d{ width:734px;}
.title_d img{ width:321px; height:320px; margin-top:10px; border-right:1px dashed #003366;}
.title_d P{ float:right; width:386px; text-indent: 2em; font-size:14px;}
.title_d a{ background:url(../images/more.png) no-repeat; display:block; width:25px; height:25px; margin:6px 0 0 9px;}
.aboutusright{ width:465px; height:506px; float:right; margin-top:63px;}
.aboutus_r_t{ width:480px; height:55px; margin-top:69px;}
.aboutus_r_t li{ width:123px; height:33px; float:left; list-style-type:none; border:1px solid #e4e1e4; background:#ffffff; margin:0 15px 0 13px; position:relative;}
.aboutus_r_t p{ float:left; width:px; height:35px; border-left:1px dashed #707172;}
.aboutus_r_t{ text-align:center;}
.aboutus_r_t li a{ line-height:35px; font-size:18px;}
.aboutus_r_t li span{ display:block; width:20px; height:20px; position:absolute; bottom:-20px; left:56px;  }
.aboutus_r_t li div{ border-top:10px solid #003366; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid transparent; display:none;}
.aboutus_r_t li:hover{ width:125px; height:35px; border:none; background:#003366;}
.aboutus_r_t li:hover a{ color:#fff;}
.aboutus_r_t li:hover span div{ display:block;}
#gaolin{ width:125px; height:35px; border:none; background:#003366;}
#gaolin a{ color:#fff;}
#gaolin span div{ display:block;}
.aboutus_img{ margin-top:57px; width:436px; height:287px; position:relative; left: 29px; z-index:1; }
.aboutus_img span{display: block; width:436px; height:287px; position:absolute; top:0px; left:0px; z-index:2; }
.aboutus_img font{ display:block; width:436px; height:38px; background:url(../images/about_lbtm.png); position:absolute; bottom:0px; left:0px; z-index:3; }
.aboutus_img span a img{ display: block; width:436px; height:287px; }
.aboutus_img span a{ display: none; width:436px; height:287px;}
.aboutus_img ul{ position:absolute; bottom: 9px; left: 345px; z-index:4;}
.aboutus_img ul li{ float:left; width:18px; height:18px; margin-left:7px;  background:url(../images/abou_ck.png) no-repeat; }
#showb_ho{background:url(../images/abou_ck_ho.png) no-repeat;}
.aboutus_img ul li:hover{ background:url(../images/abou_ck_ho.png) no-repeat;}

/*---成功案例----*/
.case_t{ width:1200px; height:222px;}
.case_t_l{ background:url(../images/title_b.png) bottom no-repeat; width:597px; height:190px; padding-top:37px; float:left;}
.title_b_1{ font-size:68px; color:#99cc00; margin-left:1px; padding:0px; font-weight:bold; line-height:55px; letter-spacing:11px;}
.title_b_1 p{ font-size:68px; color:#fff; float:right; margin-right:35px; font-weight:bold;}
.title_b_1a{ font-size:60px; color:#99cc00; margin-left:1px; padding:0px; font-weight:bold; line-height:55px; letter-spacing:11px;}
.title_b_1a p{ font-size:60px; color:#fff; float:right; margin-right:10px; font-weight:bold;}
.title_c_1{ width:445px; height:33px; margin-top:3px; line-height:33px; color:#fff; display: block; font-size:34px; padding-left:1px;}
.title_c_1 p{ float:right; width:305px; height:33px; font-size:14px; line-height:20px;letter-spacing:2px; color:#babcc0;}

.case_t_r{ width:100px; height:53px; float:right; border-right:2px solid #fff;  margin:79px 83px 0 0; }
.case_t_r a{ font-size:14px; color:#fff; padding-left:10px; }
.case_t_r b{ font-size:26px; color:#99cc00;  font-weight:bold; padding-left:10px;}

.case_b{ width:100%; height:318px; margin-top:24px;}
.ckbg{ display:block; background:url(../images/ckli.png) no-repeat; width:66px; font-weight:bold; height:90px; color:#FFFFFF; font-size:65px; font-family:"宋体"; text-align:center; line-height:90px;}
.ckbg:hover{ color:#939598;}
.ckli_l{ float:left;margin-top:115px;}
.ckli_r{ float:right;margin-top:115px;}
.case_b1{ width:1044px; height:318px; float:left; overflow:hidden; margin-left:17px;}
.case_b1 ul{ width:auto; height:318px; position: relative;}
.case_b1 ul li{ width:250px; height:318px; margin-right:11px; float:left; position:relative; z-index:1;}
.case_b1 ul li a{ display:block; width:214px; height:35px; background:#f6f6f6; margin:0 auto; position:absolute; top:0px; left:18px;  text-align:center; line-height:35px; font-size:16px; font-family:"微软雅黑";}
.case_b1 ul li span{ display:block; width:18px; height:18px; position:absolute; top:35px; left:114px; z-index:3; }
.case_b1 ul li span div{ border-top:9px solid #f6f6f6; border-left:9px solid transparent; border-right:9px solid transparent; border-bottom:9px solid transparent; }
.case_b1 ul li:hover a{ background:#99cc00;}
.case_b1 ul li:hover span div{ border-top:9px solid #99cc00; border-left:9px solid transparent; border-right:9px solid transparent; border-bottom:9px solid transparent; }
.case_b1 ul li img{ width:252px; height:250px; position:absolute; bottom:0px; left:0px; z-index:4; background:red;}
/*---产品中心----*/

.product_b{ width:1200px; height:426px; margin-top:40px;}
.aackli_l{ float:left; margin-top:210px;}
.aackli_r{ float:right; margin-top:210px;}
.product_b{ position: relative; }
.product_b ul{ z-index:1; width:915px; height:427px;position: absolute; bottom: 0px; left: 74px; margin-left:74px; overflow:hidden;}
.li_a3{ display:block;width: 352px; height: 427px; position:absolute; z-index:11; top: 0; left:50%; margin-left: -176px;}
.product_b span{ display: none;}
#product div{ z-index: 8; position: absolute; width: 535px; height: 427px; background: #f6f6f6; bottom: 0px; left:190px; }
#product p,#product b{ z-index: 9; display: block; bottom: 0px; width: 31px; height: 349px; position: absolute; border: 1px solid #e4e1e4;}
#product p{ background: #003366; left: 157px;}
#product b{ background: #737474; right: 157px;}


.product_b li { position: absolute; bottom: 0px; display: none;}
.product_b img{ width: 100%; height: 100%; border: 1px solid #e4e1e4; }
.li_a3 span{ display:block; text-align: center; line-height: 32px; color: #99cc00; font-size: 16px; width: 214px; height: 43px; position: absolute; margin-left: -107px; top: 0px; left:50%; background: url(../images/product_title.png); }
.li_a3 img{width: 349px; height: 349px; border: 1px solid #e4e1e4; position: absolute; bottom: 0px;}
.li_a0{ display:block; z-index: 2; width: 229px; height: 229px; left:0px;}
.li_a1{ display:block; z-index: 3; width: 269px; height: 269px; left:42px;}
.li_a2{ display:block; z-index: 4; width: 310px; height: 310px; left:95px;}
.li_a6{ display:block; z-index: 2; width: 229px; height: 229px; right:0px;}
.li_a5{ display:block; z-index: 3; width: 269px; height: 269px; right:42px;}
.li_a4{ display:block; z-index: 4; width: 310px; height: 310px; right:95px;}
#pro_block{ display:block; }

/*---新闻中心----*/.news_b{ width:1200px; height:421px; margin-top:31px; overflow:hidden;}
.news_b ul{ width:1300px; height:421px; margin-left:1px;}
.news_b ul li{ width:250px; height:421px;  float:left; margin-right:66px; position:relative; z-index:1;}
.news_b ul li img{ width:250px; height:250px; position: absolute; top:0px; left:0px; background:red; z-index:2;}
.news_b ul li .aa{ display:block; width:92px; height:74px; background:url(../images/news_timebg.png) repeat; position:absolute; z-index:4; top:204px; left:145px;font-size:16px; color:#666;text-align:center; padding-top:18px;}
.news_b ul li .aa b{ font-size:20px;}

.news_b ul li .cc{ display:block; width:10px; height:10px; position:absolute; z-index:3; bottom:20px;; left:50px;}
.news_b ul li .cc div{ border-top:5px solid transparent; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #fff; }

.news_b ul li h1{ font-size:18px; color:#fff; position:absolute; z-index:6; bottom:100px; left:0px;}
.news_b ul li p{ display:block; width:251px;font-size:14px; color:#999; text-indent: 2em; position:absolute; z-index:6; bottom:36px; left:0px; height:55px; overflow:hidden;}
.news_b ul li h2{ background:#fff; width:109px; height:21px; position:absolute; bottom:0px; left:0px; z-index:7; line-height:21px; text-align:center;}
.news_b ul li h2{ position:absolute; z-index:8;}
.news_b ul li:hover h1{color:#99cc33;}
.news_b ul li:hover .cc div{border-top:5px solid transparent; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #99cc33;}
.news_b ul li:hover h2{background:#99cc33;}

.contact_title{ position: absolute; left:-435px; top:110px; margin-left:50%;  z-index:3; font-size: 140px; color: #003366; font-weight: bold; font-family: "NewsGoth BT"; text-align: center;}
.contact span{ display: block; position: absolute; z-index: 2; width:1200px; height: 210px; background:url(../images/contact_us.jpg) repeat;}

.contact .contact_a,.contact .contact_b{
	border-bottom:1px solid #fff;
	background-position:25px 0;
	padding-left: 55px;
	margin-left: 50%;
	position: absolute;
	z-index: 3;
	display: block;
	width: 945px;
	left: -476px;
	height: 35px;
	font-size: 18px;
	font-family: "微软雅黑"
}
.contact a p{
	background-position:25px 0;
 	padding-left: 55px;
	width: 417px;
	float: right;
	font-size: 18px;
	font-family: "微软雅黑"
}
.contact_a{
	background: url(../images/site.png) no-repeat;
	top:332px;
}
.contact_a p{
	background: url(../images/Email.png) no-repeat;
}
.contact_b{
	background: url(../images/phone.png) no-repeat;
	top:402px;
}
.contact_b p{
	background: url(../images/fax.png) no-repeat;
}