/*********************公共样式***************/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	font-family: "微软雅黑";
	color: black;
	font-weight: normal;
	font-style: normal;
	outline: none;
}
a,input,textarea:focus{
	outline: none;
}
.clearfix{
	overflow: auto;
}
.clear{
	clear: both;
	zoom: 1;
}



/*********************头部样式***************/
.header{
	width: 100%;
	height: 160px;
	min-width: 1200px;
	background: url(../img/header_bg_02.jpg) repeat-x;
}
.header_content{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.header_content_top{
	width: 100%;
	height: 40px;
}
.header_content_top p{
	font-size: 14px;
	font-family: '宋体';
	color: white;
	float: left;
	margin-top: 12px;
}
.header_content_top form{
	width: 170px;
	height: 20px;
	float: right;
	margin-top: 10px;
	background: url(../img/form_bg.png) no-repeat;
	padding-left: 10px;
	position: relative;
}
.header_content_top input[type="text"]{
	width: 144px;
	height: 20px;
	position: absolute;
}
.header_content_top input[type="image"]{
	width: 17px;
	height: 16px;
	position: absolute;
	right: 10px;
	top: 2px;
}
.header_content_top a{
	float: right;
	margin-top: 12px;
	margin-left: 32px;
	margin-right: 12px;
	font-size: 14px;
	font-family: '宋体';
	color: white;
}
.header_content_top span{
	color: #00f6f6;
	margin-left: 6px;
	font-size: 14px;
	font-family: '宋体';
}
.header_content_buttom{
	width: 100%;
	height: 120px;
}
.header_content_buttom .logo{
	width: 414px;
	height: 100%;
	float: left;
}
.header_content_buttom .logo img{
	float: left;
}
.header_content_buttom .logo h1{
	float: left;
	font-size: 30px;
	margin-top: 33px;
	letter-spacing: 6px;
	color: #00a6a6;
}
.header_content_buttom .logo span{
	font-size: 12px;
	font-family: 'Arial';
	color: #00a6a6;
}
.header_content_buttom .nav{
	width: 724px;
	height: 118px;
	margin-top: 1px;
	float: right;
}
.header_content_buttom .nav ul li{
	float: left;
	width: 144px;
	height: 118px;
	text-align: center;
	margin-left: 1px;
}
.header_content_buttom .nav ul li:first-child{
	margin-left: 0;
}
.header_content_buttom .nav ul li a{
	display: block;
	width: 100%;
	height: 76px;
	padding-top: 42px;
	font-size: 18px;
}
.header_content_buttom .nav ul li span{
	display: block;
	font-size: 12px;
}
.current{
	background: #00a8a8;
}
.current a{
	color: white;
}
.current span{
	color: white;
}
.header_content_buttom .nav ul li:hover {
	background: #00a8a8;
}
.header_content_buttom .nav ul li:hover a{
	color: white;
}
.header_content_buttom .nav ul li:hover span{
	color: white;
}
/*********************尾部样式***************/
.footer{
	width: 100%;
	height: 329px;
	background: url(../img/footer_bg_03.jpg) repeat-x;
	min-width: 1200px;
}
.footer_top{
	width: 1200px;
	height: 230px;
	margin: 0 auto;
}
.footer_list{
	float: left;
	width: 580px;
	height: 169px;
	margin-top: 46px;
	margin-left: 188px;
}
.footer_top dl{
	width: 96px;
	height: 100%;
	float: left;
	margin-left: 65px;
}
.footer_top dl:first-child{
	margin-left: 0;
}
.footer_top dl dt a{
	font-size: 18px;
	color: white;
}
.footer_top dl dd{
	line-height: 33px;
}
.footer_top dl dd a{
	font-size: 16px;
	color: white;
}
.footer_top .code{
	width: 155px;
	height: 180px;
	float: right;
	margin-right: 147px;
	margin-top: 26px;
	text-align: center;
}
.footer_top .code p{
	font-size: 14px;
	color: white;
	margin-left: 15px;
	background: url(../img/code1.png) no-repeat left;
}
.footer_top .code_bg{
	width: 155px;
	height: 155px;
	background: url(../img/code_bg.png) no-repeat;
	margin-top: 2px;
}
.footer_top .code_bg img{
	margin-top: 16px;
	cursor: pointer;
}
.footer_bottom{
	width: 1200px;
	height: 66px;
	text-align: center;
	padding-top: 34px;
	margin: 0 auto;
}
.footer_bottom a{
	font-size: 12px;
	font-family: "宋体";
	color: white;
}
.footer_bottom a span{
	font-size: 12px;
	font-family: "宋体";
	color: white;
	margin-left: 18px;
}
.footer_bottom p{
	font-size: 12px;
	font-family: "宋体";
	color: white;
}